<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <style>
        *{
            margin: 0;
            padding: 7px;
            border: 1px solid green;
        }
        div p {
            border:0;
        }
        div h3{
            border: 0;
        }
        .box{
            padding: 10px;
            border: 2px solid blue;

        }
    </style>
</head>
<body>
    <header>
        <h1>HTML</h1>
        <h2>Tutorial</h2>
    </header>
    <br>
    <section>
        <h3>Introdução ao HTML</h3>
        <p>HTML é a linguagem de marcação padrão para páginas da WEB</p>
        <p>Com HTML você pode criar seu próprio site</p>
    </section>
    <br>
    <section>
        <h3>Oque é HTML?</h3>
        <p>HTML significa Hyper Text Markup Language</p>
        <p>HTML é a linguagem de marcação padrão para criação de páginas da Web</p>
        <p>HTML descreve a estrutura de uma página da web </p>
        <p>HTML consiste em uma série de elementos</p>
        <p>Os elementos HTML informa ao navegador como exibir o conteúdo</p>
        <p>Os elementos HTML rotulam partes de conteúdos  como "este é um título", "este é um parágrafo", "este é um link", etc.</p>
    </section>
    <br>
    <section>
        <h3>Um documento HTML simples</h3>
        <h4>Exemplo:</h4>
        <div>
            <p> < ! DOCTYPE html > </p>
            <p> < html >   </p>
            <p> < head >   </p>
            <p> < title > Page Title < / Title > </p>
            <p> < /head >  </p>
            <p> < body >   </p>
            <p> < h1 > My first Heading  < /h1 > </p>
            <p> < p > My First paragraph < / p > </p>
            <p> < /body >  </p>
            <p> < / html > </p>
        </div>
        <br>
        <h4>Exemplo Explicado</h4>
        <p>A < ! DOCTYPE html > declaração define que este documento é um documento HTML5</p>
        <p> < html > elemento é o elemento raiz de uma página HTML</p>
        <p> < head > elemento contém meta informações sobre a página HTML</p>
        <p> < title > elemento especifica um títulopara a página HTML (que é mostrado na barra de título do navegador ou na guia da página)</p>
        <p> < body > elementodefine o corpo do documento e é um contêiner para todo o conteúdo visível, como títulos, parágrafo, imagens, hiperlinks, tabelas, listas, etc.</p>
        <p> < h1 > elemento define um grande títulos</p>
        <p> < p > elemento define um parágrafo</p>
    </section>
    <br>
    <section>
        <h3>O que é um elemento HTML?</h3>
        <p> < tagname > O conteúdo vai aqui < /tagname > </p>
        <p>O elemento HTML é tudo, desde a tag inicial até a tag final:</p>
        <p> < h1 > My first title < /h1 > </p>
        <p> < p > My firt paragraph < /p > </p>
        <table>
            <tr>
                <th>Start tag</th>
                <th>Element content</th>
                <th>End tag</th>
            </tr>
            <tr>
                <td> < H1> </td>
                <td> my First Heading </td>
                <td> < / H1 > </td>
            </tr>
            <tr>
                <td> < p > </td>
                <td> my First paragraph. </td>
                <td> < / p > </td>
            </tr>
            <tr>
                <td> < br > </td>
                <td> none </td>
                <td> none </td>
            </tr>
        </table>
        <div>
            <p>NOTA: Alguns elementos HTML não têm conteúdo (como o elemento < br > ). Esses elementos são chamados de elementos vazios.
            Elementod vazios não têm tag final!</p>
        </div>
    </section>
    <br>
    <section>
        <h3>Navegadores da WEB</h3>
        <p>O objetivo de navegador da web (Chrome, Edge, Firefox, Safari) é ler documentos HTML e exibi-los corretamente.</p>
        <p>Um navegador não exibe as tags HTML, mas as usa para determinar como exibir o documento: </p>
        <img src="../static/imgs/img_chrome.png">
    </section>
    <br>
    <section>
        <h3>Estrutura da página HTML</h3>
        <p>Abaixo está uma visualização da estrutura de uma página HTML:</p>
        <div class="box">
            <div class="box">
                <h3> < html ></h3>
                <div class="box">
                    <h3>< Head ></h3>
                    <div class="box"><h3>< Title >Título da página< /Title > </h3></div>
                    <h3>< /Head ></h3>
                </div>
                <br>
                <div class="box">
                    <h3>< Body ></h3>
                    <diV class="box">
                        <div><h3>< h1 >Este é um título< /h1 >   </h3></div>
                        <div><h3>< p >Este é uma parágrafo< /p > </h3></div>
                        <div><h3>< p >Este é outro parágrafo < /p ></h3></div>
                    </diV>
                    <h3>< /Body ></h3>

                </div>
                <h3> < /html ></h3>
            </div>
        </div>
    </section>
    <br>
    <footer>
        <h4>Contato: </h4>
        <p>Email: luzivam.santos28@outlook.com</p>
        <p>GitHub:https://github.com/Luzivam32</p>
    </footer>
    
</body>
</html>